#nav {
    background-color: rgba(136, 136, 136, 0.705) !important;
}

#footer {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.7);
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
}

body {
    background: url("../myimages/fon2.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    border: 1px solid black !important;
}