@charset "utf-8";







[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}



@font-face {
	font-family: 'PT_Sans_Bold';
	src: url('../myfonts/PT_Sans_Bold.ttf');
}

body {
	background: url('../myimages/fon2.jpg') no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


prokrutka {
	overflow: auto;
}

a {
	color: #eee;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix {
	*zoom: 1;
}
	/* For IE 6/7 */
	.clearfix:before, .clearfix:after {
		display: table;
		content: "";
	}

	.clearfix:after {
		clear: both;
	}

/* ---------- LOGIN ---------- */


#logo {
	margin: 10px auto;
	text-align: center;

}

#Flash {
	font-family: 'PT_Sans_Bold';
	text-align: center;
	line-height: 100px;
	font-size: 20px;
	color: white;
}



#login {
	margin: 50px auto;
	width: 250px;
}

	#login form span {
		background-color: #363b41;
		border-radius: 3px 0px 0px 3px;
		-moz-border-radius: 3px 0px 0px 3px;
		-webkit-border-radius: 3px 0px 0px 3px;
		color: #606468;
		display: block;
		float: left;
		height: 50px;
		line-height: 50px;
		text-align: center;
		width: 50px;
	}

	#login form input {
		height: 50px;
		outline: none;
	}

		#login form input[type="text"], input[type="password"] {
			background-color: #3b4148;
			border-radius: 0px 3px 3px 0px;
			-moz-border-radius: 0px 3px 3px 0px;
			-webkit-border-radius: 0px 3px 3px 0px;
			color: #606468;
			margin-bottom: 1em;
			padding: 0 16px;
			width: 198px;
		}

		#login form input:focus {
			color: #fff;
		}

		#login form input[type="submit"] {
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			background-color: #4a639c;
			color: #eee;
			font-weight: bold;
			margin-bottom: 1em;
			text-transform: uppercase;
			cursor: pointer;
			width: 100%;
		}

			#login form input[type="submit"]:hover {
				background-color: #d44179;
			}

	#login > p {
		text-align: center;
	}

		#login > p span {
			padding-left: 5px;
		}

.alert {
	color: white ;
}