@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    <link href="~/Content/mystyles/Account.css" type="text/css" rel="stylesheet" />
}
<section id="logo">
    <p><img src="~/Content/myimages/photo.png" width="275px"></p>
</section>
<section id="login">
    <fieldset class="clearfix">

        <span class="service-symbol"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
        <input type="text" name="Login" placeholder="Введите логин">
        <span class="service-symbol"><i class="fa fa-key" aria-hidden="true"></i></span>
        <input type="password" name="Password" placeholder="Введите пароль">
        <div class="text-danger"></div>
        <p><input type="submit" value="Войти"></p>

    </fieldset>
    }
</section>

