<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="database" connectionString="Data Source=DESKTOP-34T0A5S\SQLEXPRESS;Initial Catalog=Epam.FlaschPictures.Users;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Dara.SqlClient"/>
  </connectionStrings>
</configuration>