body {
    background-color: rgb(74, 92, 110);
}

ul {
    background-color: white;
    border-radius: 10px;
    width: 900px;
    margin: 10px auto;
    box-shadow: 0px 0px 50px 5px rgb(15, 19, 24);
}

li {
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}

.virtual {
    border-right: 1px solid rgba(109, 109, 109, 0.849);
    margin: 10px auto;
    padding-right: 50px;
}

.server {
    border-left: 1px solid rgba(109, 109, 109, 0.849);
    margin: 10px auto;
    padding-left: 50px;
}

figcaption {
    color: rgb(255, 102, 0);
}

p {
    text-align: center;
}

input {
    color: white;
    padding: 5px;
    background-color: rgb(255, 102, 0);
    border: solid rgb(255, 102, 0);
    border-radius: 1px;
    position: relative;
    bottom: 20px;
    left: 33%;
}