@using Epam.TL.OnlinePhoto.FlashPictures.Dependencies;
@using Epam.TL.OnlinePhoto.FlashPictures.Entites;
@using Epam.TL.OnlinePhoto.FlachPictures.ASPweb.PL.Models;
@using NLog;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "Страница регистрации";
    Logger logger = LogManager.GetCurrentClassLogger();
    logger.Info("User at Register Page");
    PasswordHasher hasher = new PasswordHasher();
    SearchUserAuthData userFoundState = new SearchUserAuthData();
    string login = Request["login"];
    string email = Request["e-mail"];
    try
    {
        if (IsPost)
        {
            userFoundState.LoginStatus(false);
            userFoundState.EmailStatus(false);
            if (login == DependencyResolver.Instance.UserLogic.CheckUserAuthData(login, email)[0])
            {

                userFoundState.LoginStatus(true);
            }
            else if (email == DependencyResolver.Instance.UserLogic.CheckUserAuthData(login, email)[1])
            {
                userFoundState.EmailStatus(true);
            }
            else
            {
                string password = Request["password"];
                User user = new User();
                DependencyResolver.Instance.UserLogic.Add(user);
                //Response.Redirect("~/Pages/LogIn", false);
            }
        }
    }
    catch (Exception ex)
    {
        logger.Error(ex, "This exception came from register page.");
    }
}

@{
    <link href="~/Content/mystyles/Register.css" type="text/css" rel="stylesheet" />
}

@if (!User.Identity.IsAuthenticated)
{
    <section class="reg-body">
        <h1 id="Registration">
            Регистрация
        </h1>
        <section id="Pryam">
            <section id="Data">
                <form action="javascript:void(0);" method="POST">
                    <fieldset class="clearfix">
                        <span class="service-symbol"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
                        <input type="text" value="Электронная почта" name="email" onblur="if (this.value == '') this.value = 'Электронная почта'" onfocus=" if (this.value == 'Электронная почта') this.value = '@email'" required>
                        <span class="service-symbol"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                        <input type="text" value="Логин" name="login" onblur="if(this.value == '') this.value = 'Логин'" onfocus="if (this.value == 'Логин') this.value = '@login'" required>
                        <span class="service-symbol"><i class="fa fa-key" aria-hidden="true"></i></span>
                        <input type="password" value="Пароль" name="password" onblur="if(this.value == '') this.value = 'Пароль'" onfocus="if(this.value == 'Пароль') this.value = ''" required>
                        <p><input type="submit" value="Зарегистрироваться"></p>
                    </fieldset>
                </form>
                @if (IsPost && userFoundState.LoginIsFound)
                {
                    <div class="error-div">
                        Пользователь с таким логином уже существует!
                    </div>
                }
                @if (IsPost && userFoundState.EmailIsFound)
                {
                    <div class="error-div">
                        Пользователь с таким адресом электронной почты уже существует!
                    </div>
                }
            </section>
        </section>
    </section>
}