<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-language" content="RU" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vikhrov Alexandr" />
    <meta name="reply-to" content="vih_64@mail.ru" />
    <meta name="site-created" content="08.07.2021" />
    <link href="~/Content/mystyles/_Layout.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/mystyles/Main.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="https://use.fontawesome.com/889aa429f2.js"></script>
    <title>@Page.Title</title>
</head>

<body class="mybody">
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
            <div class="container-fluid" id="head">
                <a href="#" class="header__logo">
                    <img src="~/Content/myimages/Background.png" alt="Flash Pictures">
                </a>
                <a class="navbar-brand" href="~/Views/Main/Index.cshtml">Flash Pictures</a>
                <hr />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="~/Views/Account/Index.cshtml">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Views/Register/Index.cshtml">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Views/User/">Поиск людей</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section>
        @RenderBody()
    </section>

    <footer id="footer">
        &copy; EPAM Alexander Vikhrov Design
    </footer>

    @RenderSection("scripts", false)
</body>

</html>
