@charset "utf-8";

@font-face {
    font-family:'PT_Sans_Bold';
    src:url('../fonts/PT_Sans_Bold.ttf');
}


body {
    
    background: url('../img/regfon.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     
}

prokrutka {
overflow: auto;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after { clear: both; }

#Registration {
    margin: 40px auto;
    font-family: 'PT_Sans_Bold';
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    color: orange;
    text-shadow: black 2px 4px 3px;
}

#Pryam {
    margin: 50px auto;
    width: 300px;
    height: 380px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


#Data {
	margin: 50px auto;
	width: 260px;
    
    
    

}

#Data form span {
    margin-top:20px;
	background-color: #ebfffe;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 60px;
}

#Data form input {
	height: 50px;
	outline:none;
}

#Data form input[type="text"], input[type="password"] {
    margin-top:20px;
	background-color: #ffb257;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 200px;
    
}

#Data form input:focus {
	color:#fff;
}

#Data form input[type="submit"] {
    margin-top:50px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #b94848;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	cursor:pointer;
	width: 250px;
}

#Data form input[type="submit"]:hover {
	background-color: #d44179;
}

#Data > p {
	text-align: center;
}

#Data > p span {
	padding-left: 5px;
}
	

    
